body {
  margin: 0;
}

/* Fuentes */
@font-face {
  font-family: "PhamoFont";
  src: url("src/fonts/October\ Crow.ttf ") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Escritura";
  src: url("src/fonts/escritura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* SideBar */

#sidebar {
  position: fixed;
  width: 400px;
  height: 100%;
  z-index: 99;
  background: #2e2929;
  left: -400px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}


.menutitle {
  list-style: none;
  font-family: Escritura, sans-serif;
  border-bottom: 3px dashed white;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}



ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

#sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  padding: 35px;
  list-style-position: inside;
  font-size: 20px;
  font-family: Escritura, sans-serif;
}



#sidebar .toggle-btn {
  position: absolute;
  left: 430px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}


/* Estilos de la seccion principal */
.homepage {
  display: flex;
  background: linear-gradient(to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)),
    url(/src/homepage/homepage.webp);
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-family: PhamoFont, sans-serif;
  font-size: 70px;
  color: #fff;
}

.title h1 {
  height: 50px;
}

.stars {
  margin-left: auto;
}

.stars img {
  width: 80px;
  height: 80px;
}

/* Mapas */
.mapas {
  height: 150vh;
  display: flex;
  background-color: #2e2929;
  justify-content: space-evenly;
  /* flex-direction: column-reverse; */
}

.mapas-title {
  font-size: 40px;
  color: #fff;
  padding: 30px;
  text-align: center;
  font-family: Escritura, sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  justify-items: center;
}

.map {
  width: 400px;
  height: 180px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.map::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semitransparente */
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

.map:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.map:hover {
  transform: scale(1.05);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0);
  /* Texto invisible por defecto */
  font-size: 18px;
  font-weight: bold;
  font-family: Escritura, sans-serif;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
  pointer-events: none;
  /* Evita que el texto interfiera con el hover */
}

.map:hover .overlay-text {
  opacity: 1;
  color: rgba(255, 255, 255, 0.8);
  /* Color blanco semitransparente al hacer hover */
}

/* Alertas (Modal)*/
/* Titulo del modal */
.swal2-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: Escritura, sans-serif;
  /* Aplicar la fuente personalizada */
}

/* Estilo para las imágenes dentro del modal */
.swal2-content img {
  max-width: 100%;
  height: auto;
  margin: 0 10px;
}

.swal2-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh; /* Altura máxima */
  overflow-y: auto; /* Habilita el scroll */
  text-align: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap; /* Distribuye en varias filas si hay muchas imágenes */
  justify-content: center;
  margin-bottom: 20px;
}

.image-wrapper {
  margin: 10px;
  width: 100%;
  max-width: 300px; /* Ajustar tamaño de las imágenes */
  flex: 1 1 300px; /* Hace que las imágenes sean flexibles */
}

.image-map {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un toque estético */
}


.swal2-title {
  font-size: 1.8em;
  margin-bottom: 20px;
}


ul li{
  list-style-position: inside;
}

/* Responsive 1 */
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    left: -100%;
  }

  #sidebar.active {
    left: 0;
  }

  #sidebar .toggle-btn {
    left: 20px;
  }

  #sidebar ul li {
    padding: 20px;
    font-size: 18px;
  }

  .menutitle {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  #sidebar ul li {
    padding: 15px;
    font-size: 16px;
  }

  .menutitle {
    font-size: 24px;
  }
}

/* Responsive 2 */
@media (max-width: 1024px) {
  .homepage {
    padding: 20px;
    background-size: cover;
  }

  .home-container {
    text-align: center;
  }

  .title h1 {
    font-size: 50px;
  }

  .stars img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 40px;
  }

  .stars img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 30px;
  }

  .stars img {
    width: 40px;
    height: 40px;
  }
}

/* Responsive 3 */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  .map {
    width: 300px;
    height: 150px;
  }

  .mapas-title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  
  .mapas{
    height: 300vh;
  }
  
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .map {
    width: 100%;
    height: 150px;
  }

  .mapas-title {
    font-size: 30px;
    padding: 20px;
  }

  .overlay-text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .mapas-title {
    font-size: 24px;
    padding: 15px;
  }

  .overlay-text {
    font-size: 14px;
  }
}
/* Responsive 4 */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .swal2-title {
    font-size: 20px;
  }

  .swal2-content img {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .swal2-title {
    font-size: 18px;
  }

  .swal2-content img {
    max-width: 100%;
  }
}

/* Responsive 5 */
@media (max-width: 768px) {
  .swal2-title {
    font-size: 1.8em;
  }

  .image-container img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .swal2-title {
    font-size: 1.5em;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }
}
