/* Mapas */
.mapas {
  min-height: 100vh;
  display: flex;
  background-color: #2e2929;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px; /* Asegura que no se sobresalga el contenido */
  box-sizing: border-box; /* Para que padding y bordes cuenten en el tamaño total */
}

.mapas-title {
  font-size: 40px;
  color: #fff;
  padding: 30px;
  text-align: center;
  font-family: Escritura, sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  justify-items: center;
  max-width: 100%; /* Evita que se sobresalga */
  overflow-x: hidden; /* Oculta cualquier contenido que se desborde horizontalmente */
}

.map {
  width: 400px;
  height: 180px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  max-width: 100%; /* Asegura que las tarjetas no se sobresalgan del contenedor */
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.map::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  border-radius: 15px;
}

.map:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.map:hover {
  transform: scale(1.05);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0);
  font-size: 18px;
  font-weight: bold;
  font-family: Escritura, sans-serif;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
  pointer-events: none;
}

.map:hover .overlay-text {
  opacity: 1;
  color: rgba(255, 255, 255, 0.8);
}

/* Responsive para pantallas más pequeñas */
@media (max-width: 1440px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* Reduce a 3 columnas en pantallas grandes */
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Reduce a 2 columnas en tablets */
    grid-gap: 40px;
  }

  .map {
    width: 300px;
    height: 150px;
  }

  .mapas-title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .mapas {
    flex-direction: column;
    padding: 20px;
  }

  .grid {
    grid-template-columns: 1fr; /* Reduce a 1 columna en móviles */
    grid-gap: 20px;
  }

  .map {
    width: 100%;
    height: 150px;
  }

  .mapas-title {
    font-size: 30px;
    padding: 20px;
  }

  .overlay-text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .mapas-title {
    font-size: 24px;
    padding: 15px;
  }

  .overlay-text {
    font-size: 14px;
  }
}
