body {
    font-family: 'Roboto', sans-serif; /* Cambia la fuente para hacerla más moderna */
    background-color: #f4f4f4; /* Color de fondo más suave */
    margin: 0;
    padding: 0;
  }
  
  /* h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  } */
  
  .tienda-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .carrito {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .carrito svg {
    color: #4caf50; /* Color del ícono */
  }
  
  .objetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adaptar los objetos a la pantalla */
    gap: 20px;
  }
  
  .objeto-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-align: center;
    padding: 20px;
  }
  
  .objeto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .objeto-card img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .objeto-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .objeto-card p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .objeto-card select {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .objeto-card button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .objeto-card button:hover {
    background-color: #45a049;
  }
  

  .iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .iframe-container h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
  }
  
  .responsive-iframe {
    position: relative;
    width: 100%;
    max-width: 646px; /* Máximo ancho deseado */
    height: auto; /* Altura automática */
    overflow: hidden;
  }
  
  .responsive-iframe iframe {
    width: 100%;
    height: 100%;
    min-height: 190px; /* Altura mínima deseada */
  }
  