body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}



/* Fuentes */
@font-face {
  font-family: "PhamoFont";
  src: url("/fonts/October\ Crow.ttf ") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Escritura";
  src: url("/fonts/escritura.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Card-Title";
  src: url("/fonts/Rowdies/Rowdies-bold") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Card-Text";
  src: url("/fonts/Montserrat/Montserrat-Italic-VariableFont_wght") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Card-Type";
  src: url("/fonts/Playpen_Sans/PlaypenSans-VariableFont_wght") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Card-consumable";
  src: url("/fonts/LilitaOne-Regular") format("truetype");
  font-weight: normal;
  font-style: normal;
}



/* SideBar */

#sidebar {
  position: fixed;
  width: 400px;
  height: 100%;
  z-index: 99;
  background: #2e2929;
  left: -400px;
  transition: all 500ms linear;
}

#sidebar.active {
  left: 0px;
}


.menutitle {
  list-style: none;
  font-family: Escritura, sans-serif;
  border-bottom: 3px dashed white;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}



ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

#sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  padding: 35px;
  list-style-position: inside;
  font-size: 20px;
  font-family: Escritura, sans-serif;
}



#sidebar .toggle-btn {
  position: absolute;
  left: 430px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}


/* Estilos de la seccion principal */
.homepage {
  display: flex;
  background: linear-gradient(to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)),
    url(/homepage/homepage.webp);
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-family: PhamoFont, sans-serif;
  font-size: 70px;
  color: #fff;
}

.title h1 {
  height: 50px;
}

.stars {
  margin-left: auto;
}

.stars img {
  width: 80px;
  height: 80px;
}






/* Responsive 1 */
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
    left: -100%;
  }

  #sidebar.active {
    left: 0;
  }

  #sidebar .toggle-btn {
    left: 20px;
  }

  #sidebar ul li {
    padding: 20px;
    font-size: 18px;
  }

  .menutitle {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  #sidebar ul li {
    padding: 15px;
    font-size: 16px;
  }

  .menutitle {
    font-size: 24px;
  }
}

/* Responsive 2 */
@media (max-width: 1024px) {
  .homepage {
    padding: 20px;
    background-size: cover;
  }

  .home-container {
    text-align: center;
  }

  .title h1 {
    font-size: 50px;
  }

  .stars img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 40px;
  }

  .stars img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 30px;
  }

  .stars img {
    width: 40px;
    height: 40px;
  }
}

/* Responsive 3 */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  .map {
    width: 300px;
    height: 150px;
  }

  .mapas-title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  
  .mapas{
    height: 300vh;
  }
  
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .map {
    width: 100%;
    height: 150px;
  }

  .mapas-title {
    font-size: 30px;
    padding: 20px;
  }

  .overlay-text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .mapas-title {
    font-size: 24px;
    padding: 15px;
  }

  .overlay-text {
    font-size: 14px;
  }
}
/* Responsive 4 */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .swal2-title {
    font-size: 20px;
  }

  .swal2-content img {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .swal2-title {
    font-size: 18px;
  }

  .swal2-content img {
    max-width: 100%;
  }
}

/* Responsive 5 */
@media (max-width: 768px) {
  .swal2-title {
    font-size: 1.8em;
  }

  .image-container img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .swal2-title {
    font-size: 1.5em;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }
}
