.screamer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .screamer-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  